
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Overview</h1>

<f:flashMessages />
<table  class="table table-striped">
    <thead>
        <tr>
            <th>Ziel des Links/Download</th>
            <th>Anzahl Klicks</th>
            <th>Info</th>
        </tr>
    </thead>
        <f:for each="{downloads}" as="download" iteration="index">
            <tr>
                <tr>
                    <td>{download.name}</td>
                    <td>{download.count}</td>
                    <td><f:link.action action="show" arguments="{download: download}">Details</f:link.action></td>
                </tr>
            </tr>
        </f:for>
</table>
</f:section>
