<div class="export">
	<f:link.action arguments="{name: downloads.0.name}" action="export">=> Export</f:link.action>
</div>
<table class="tx-downloadcounter table table-striped" >
	<thead>
		<tr>
			<th>Name</th>
			<th>Klick auf Seite</th>
			<th>Klick am</th>
		</tr>
	</thead>
	<f:for each="{downloads}" as="download" iteration="index">
		<tr>
			<td>{download.name}</td>
			<td>{download.pageTitle} [{download.pid}]</td>
			<td><f:format.date format="d.m.Y h:i:s">{download.date}</f:format.date></td>
		</tr>
	</f:for>
</table>