<f:be.container loadExtJs="false" loadJQuery="true" enableClickMenu="false" pageTitle="Download counter">
	<div class="module" data-module-id data-module-name>
		<div class="module-loading-indicator"></div>
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar-navigation"></div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left"></div>
				<div class="module-docheader-bar-column-right"></div>
			</div>
		</div>
		<div class="module-body t3js-module-body" style="padding-top: 89px;">
			<f:flashMessages />
			<f:render section="content" />
		</div>
	</div>
</f:be.container>
